
.DS_Store
python/ReadMe.rst
python/venv
tmpCredentials.json
**/.vscode/**
**/node_modules/**
get-temp-credentials.sh
package-lock.json
.idea/*
*.swp
**/.vs/
**/bin/
**/obj/
**/launchSettings.json
**/.idea/*
