
.DS_Store
python/ReadMe.rst
python/venv
tmpCredentials.json
**/.vscode/**
**/node_modules/**
get-temp-credentials.sh
package-lock.json
.idea/*
*.swp
**/.vs/
**/bin/
**/obj/
**/launchSettings.json
**/.idea/*


**/.idea/
**/.DS_Store
**/.chalice/deployments/
**/.chalice/deployed/
workshops/relational-migration/target-tables/
workshops/relational-migration/syncs3.sh
workshops/relational-migration/.chalice/config.json
workshops/relational-migration/setenv.sh
workshops/relational-migration/setenvd.sh
workshops/relational-migration/source-tables/app_db.*

**/.aws-sam/
**.db
