
.DS_Store
python/ReadMe.rst
python/.idea/inspectionProfiles/profiles_settings.xml
python/.idea/*
python/venv
tmpCredentials.json
**/.vscode/**
**/node_modules/**
get-temp-credentials.sh
package-lock.json
package.json
.idea/*
**/.vs/
**/bin/
**/obj/
**/launchSettings.json
