/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f1f1f1;

}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    border-top: none;
}

.hourglass {
    font-size: 18px;
    visibility: hidden;

}


.main {
    background-color:whitesmoke; border-radius:8px; padding:8px; font-family:Arial;
}

#list {
    margin-bottom:20px;
}

#tableform {
    background-color: whitesmoke; padding:5px; margin: 5px; border-radius:8px;
}

#results {
    background-color:none;
    padding:5px;

}
.resTable {

}

.tabledata {
    background-color: lightgray; padding:8px; margin: 5px;
    border-radius:4px;
    color:dimgray;
}
.tablenull {
    background-color: whitesmoke;
}
.tablesummary {
    font-size:smaller;
}

.runall {
    font-size:x-small;
}
.go{
    font-size:larger;

}
.gobig {
    font-size:x-large;
    width:50px;
}
.titlelink {
    text-decoration:none;
    font-weight:bold;
    color:darkslateblue;
    font-size:large;
}
button {
    border-radius:6px;  margin-left:5px;
    padding-left:6px;
    padding-right:6px;
    padding-top:1px;
    padding-bottom:1px;

}

button:hover {
    background-color: grey; /* Green */
    color: white;
}

.latency {
    color:green;

}

.error {
    color:red;
}

.dataheader {
    color:#333;
    padding:4px;

}

.datavalue {
    color:dimgray;
    font-size: large;
    text-align: center;
    background-color:gainsboro;
    margin:2px;
    padding:3px;
}
.datavaluenew {
    color:greenyellow;
    font-size: large;
    font-weight:bold;
    text-align: center;
    background-color:darkseagreen;
    margin:3px;
    padding:4px;
}

.datavalueold {
    color:grey;
    font-size:small;
}

.databox {
    color:gray;
}

.title {
    background-color: gainsboro;
    padding:8px;
    color:grey;
    font-size:small;
    border-radius:8px;
    height:24px;
}

#clearPanel {
    color: gray;
    display:none;
    padding-left:10px;
    padding-bottom:5px;
}
.hrc {
    display:inline-block;
    width:700px;
    margin-top:10px;
    color: gainsboro;
    border:none;
    height:1px;
    background-color: gainsboro;
}
.cellFinal {
    width:120px;
    color: silver;
    padding-left:8px;
}

#sampleAPI1, #sampleAPI2, #sampleAPI3 {
    border:none;
    background-color:gainsboro;
    color:grey;
    cursor:hand;
}

#addAPI {
    border:1px solid grey;
    cursor:hand;
}

.container {
    display: flex;

}
.item {
    flex-grow: 1;
    border:2px solid cyan;
    padding:5px;
    margin:3px;
}

.samples {
    font-size:small;
    color:silver;
    background-color: chocolate;
}
